<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="collapse navbar-collapse">
    <a class="navbar-brand" href="/">Vulcan UI</a>
      <ul class="nav navbar-nav">
        <li class="">{{#link-to 'frontends'}}Frontends{{/link-to}}</li>
        <li class="">{{#link-to 'backends'}}Backends{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>